<ng-container
  *ngIf="loaderService.loading$ | async as loading; else registrationTemplate"
>
  <mat-spinner *ngIf="loading"></mat-spinner>
</ng-container>

<ng-template #registrationTemplate>
  <div class="box-shadow registration">
    <h1>{{ "registration.title" | transloco }}</h1>
    <form
      class="registration-form"
      [formGroup]="registrationForm"
      (ngSubmit)="registration()"
    >
      <mat-form-field>
        <mat-label>{{ "common.name" | transloco }}</mat-label>
        <input
          matInput
          type="text"
          placeholder="{{ 'common.placeholder.name' | transloco }}"
          formControlName="name"
        />

        <mat-error *ngIf="registrationForm.get('name')!.hasError('required')">
          {{ "common.required.name" | transloco }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "common.email" | transloco }}</mat-label>
        <input
          matInput
          type="email"
          placeholder="{{ 'common.placeholder.email' | transloco }}"
          formControlName="email"
        />

        <mat-error *ngIf="registrationForm.get('email')!.hasError('required')">
          {{ "common.required.email" | transloco }}
        </mat-error>

        <mat-error *ngIf="registrationForm.get('email')!.hasError('email')">
          {{ "common.validation.notValidEmail" | transloco }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "common.password" | transloco }}</mat-label>
        <input
          matInput
          type="password"
          placeholder="{{ 'common.placeholder.password' | transloco }}"
          formControlName="password"
        />

        <mat-error
          *ngIf="registrationForm.get('password')!.hasError('required')"
        >
          {{ "common.required.password" | transloco }}
        </mat-error>
      </mat-form-field>

      <button
        class="app-button"
        mat-button
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="registrationForm.invalid"
      >
        {{ "common.button.registration" | transloco }}
      </button>
    </form>

    <a [routerLink]="'/' + appRoutes.Login">{{ "login.title" | transloco }}</a>
  </div>
</ng-template>
